body {
    height: 100vh;
}

:root {
    --width: 52%;
    --font-color: #fff;
}

/* Main div */
.main-div {
    width: 80%;
    height: 100%;
    margin-left: 10%;
    background-color: #0C1027;
    border: 1px solid #0C1027;
}

/* navbar */
.navbar {
    background-color: #0C1027 !important;
    position: sticky;
}

.navbar-brand,
.active {
    color: var(--font-color) !important;
}

.d-flex {
    width: 30%;
    height: auto;
    position: relative;
}

.d-flex input {
    background-color: #12193E;
    border: none;
    position: relative;
    height: 2%;
}

.d-flex i,
.logo {
    position: absolute;
}

.d-flex img {
    border-radius: 50%;
}

.form-control::placeholder {
    color: var(--font-color);
}


.d-flex input[type=search] {
    padding-left: 30px;
    opacity: 0.2;
}

.bell {
    opacity: 0.7;
    top: 8px;
    left: 325px;
}

.microphone {
    top: 8px;
    opacity: 0.4;
    left: 280px;
}

.magnifying-glass {
    top: 8px;
    opacity: 0.4;
    left: 10px;
}

/* Main section */
.main-section {
    width: var(--width);
    height: 25%;
    top: 10%;
    margin-left: 3%;
    position: absolute;
    display: flex;
}

.main-section img {
    width: 100%;
    height: 100%;
}

/* Letest Relese */
.letest-release {
    color: var(--font-color);
    margin-top: 5%;
}

ul {
    list-style: none;
}

.letest-release img {
    margin-top: 3%;
    height: 80px;
    width: 80px;
    float: left;
}

.letest-release-time {
    margin-left: 80%;
    margin-top: -20%;
    float: right;
}

#three-dot {
    font-size: 2rem;
}

.letest-release-name {
    margin-left: 15%;
    margin-top: 4%;
}

/* Popular artist */
.popular-artist {
    color: var(--font-color);
    margin-top: 5%;
    height: 100%;
}

.popular-artist img {
    margin-top: 15px;
}


#Ed-sheeran,
#Charlie-Puth {
    margin-left: 20%;
}

#ColdPlay {
    margin-left: 25%;
}

#Zayn {
    margin-left: 35%;
}

#Charlie-Puth {
    margin-left: 20%;
}

#Imagine-Dragon {
    margin-left: 10%;
}

#Bruno-Mars {
    margin-left: 23%;
}

.popular-artist-photo img {
    border-radius: 50%;
}
























/* Aside Section */
.aside-section {
    width: 25%;
    height: 100px;
    margin-top: 2.3%;
    margin-right: 5%;
    float: right;
    border: 1px solid red;
}